body{
    color: rgb(red, green, blue);
    background: rgb(0, 0, 0);
    margin: 0dvi;

}

header{

    border-bottom: solid 2px rgb(12, 116, 253);
    padding: 20px;
    font-size: 32px;
    color: rgb(42,122,228);
}
section{
    background: rgb(10, 81, 114);
    padding-bottom: 80px;
    padding-top: 80px;
}
